PORT=4000
DEVICE_API_KEY=rosecare-device-key
ENABLE_SIMULATION=false
ADMIN_EMAIL=awwadh311@gmail.com
ADMIN_PASSWORD=hala1234
ROBOT_MODE_TRANSPORT=http
ROBOT_MODE_PI_URL=http://172.23.75.51:5001/robot/mode
